h1 {
    color: rgb(177, 46, 52);
    text-align: center;
}

.gwfb img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
            }


.gwfb {
    display: center;
    
        }

.photos img {
    width: 100%;
            }

.photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
        }

.name {
    text-align-last: center;
        }